/* You can add global styles to this file, and also import other style files */
.card-pin{
  border: 1px solid;
  background-color: #6b1405;
  color: white;
  height: 200px;
  width: 200px;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
}
.card-pin, .card-pin *{
  cursor: pointer;
}
.bonus{
  background: -webkit-linear-gradient(-90deg, #fe9201 0, #eabf5b 49%, #ead36e 100%);
  background: -moz-linear-gradient(180deg, #fe9201 0, #eabf5b 49%, #ead36e 100%);
  background: linear-gradient(180deg, #fe9201 0, #eabf5b 49%, #ead36e 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  width: 100px;
  height: 60px;
  background-color: yellow;
  color: #6b1405;
  padding: 10px;
  margin: auto;
  margin-top: -8px;

}
.bonus-am{
  font-size: 23px;
  margin-top: -9px;
  margin-left: -8px;
}
.amount{
  font-size: 40px;
  margin-top: 20px;
  margin-left: -10px;
}
.cust-amount{
  font-size: 20px;
  margin-top: 20px;
  margin-left: -10px;
}
.cust-amount>input{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin: 17px 5px;
  width: 135px;
  border-radius: 4px;
  padding: 8px 5px 8px 12px;
}
.radio{
  height: 20px;
  width: 20px;
  border: 3px solid white;
  background-color: #b8b8b8;
  border-radius: 50%;
  margin-left: 47%;
  margin-top: 10px;
  cursor: pointer;
}
.radio.is_seleted{
  background-color: #32b643;
}

.my-hr {
  width: 100%;
  height: 3px;
  background: -webkit-radial-gradient(closest-side, #ea8385 0, #6b1405 100%);
  background: -moz-radial-gradient(closest-side, #ea8385 0, #6b1405 100%);
  background: radial-gradient(closest-side, #ea8385 0, #6b1405 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  margin-top: 10px;
}

.btn-success{
  background-color: #1d8622;
  border: none;
  color: white;
}

.payment-container{
  max-width: 1175px;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
}
.wt-300{
  width: 300px;
}
.bank-list aside{
  float: left;
  cursor: pointer;
}
.bank-list aside>.radio{
  position: relative;
  text-align: left;
  margin: 30px 0 -35px 0;
}
.bank-list aside>label{
  margin-left: 15px;
  cursor: pointer;
}

.payment-list {
  border: none;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, #e3e3e3 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, #e3e3e3 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, #e3e3e3 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  margin: 0;
  padding: 13px;
}
.payment-list.active{
  background: -webkit-linear-gradient(-90deg, rgb(196, 25, 20) 0, #591508 100%);
  background: -moz-linear-gradient(180deg, rgb(196, 25, 20) 0, #591508 100%);
  background: linear-gradient(180deg, rgb(196, 25, 20) 0, #591508 100%);

}
.payment-list.active,.payment-list.active a{
  color: white;
}
