<header class="hd">
  <h3 class="form-group float-left" style="padding: 5px 15px;">
    <b>Cashier</b>
  </h3>
  <a href="dashboard" class="btn float-right">Back to dashboard</a>
</header>

<div class="float-left payment-container" *ngIf="vuFlag===1">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <i class="fa fa-tag"></i> Enter Amount
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="card-itm float-left" *ngFor="let b of bonusJson;let ind = index"
       (click)="activeBonus=ind" bonusCard
       [bonus]="b.bonus" [amount]="b.amount" [isSeleted]="ind === activeBonus" [custom]="b.custom"></div>
  <div class="clearfix"></div>
  <div class="wt-300 float-right">
    <div class="form-group float-left">
      <label class="form-label" for="input-example-1">Promo Code(optional)</label>
      <input class="form-input" type="text" id="input-example-1" placeholder="Code">
    </div>
    <div class="form-group float-right" style="margin-top: 30px">
      <div class="btn btn-success" (click)="vuFlag=2"> Continue <i class="fa fa-angle-double-right"></i> </div>
    </div>
  </div>
</div>

<div class="float-left payment-container" *ngIf="vuFlag===2">
  <ul class="breadcrumb">
    <li class="breadcrumb-item" (click)="vuFlag=1">
      <i class="fa fa-check"></i> Enter Amount
    </li>
    <li class="breadcrumb-item">
      <i class="fa fa-credit-card"></i> Choose payment method
    </li>
  </ul>
  <div class="clearfix"></div>
  <div class="columns">
    <ul class="column col-4 nav">
      <li *ngFor="let i of pamentMethod;let ind = index" [ngClass]="['nav-item payment-list',activePM ===ind?'active':'']">
        <a href="javascript:void(0)">{{i}}</a>
      </li>
    </ul>
    <div class="column col-8">
      <div class="bank-list">
        <div>
          <aside *ngFor="let i of comBankList;let ind = index" [title]="i.alt" (click)="activeBank=ind">
            <div [ngClass]="['radio',activeBank===ind?'is_seleted':'']"></div>
            <label [for]="'comBankList'+ind">
              <img [src]="i.src" [alt]="i.alt">
            </label>
          </aside>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" style="width: 300px">
          <select class="form-select">
            <option *ngFor="let i of bankList" [value]="i.value">{{i.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="wt-300 float-right">
    <div class="form-group float-right" style="margin-top: 30px">
      <div class="btn btn-success" (click)="vuFlag=3"> Pay <i class="fa fa-rupee"></i> {{bonusJson[activeBonus].amount}} <i class="fa fa-angle-double-right"></i> </div>
    </div>
  </div>
</div>
<div class="float-left payment-container" *ngIf="vuFlag===3">
  <ul class="breadcrumb">
    <li class="breadcrumb-item" (click)="vuFlag=1">
      <i class="fa fa-check"></i> Enter Amount
    </li>
    <li class="breadcrumb-item">
      <i class="fa fa-check"></i> Choose payment method
    </li>
  </ul>
  <div class="clearfix"></div>
  <h2 class="text-center">Your payment of amount is {{bonusJson[activeBonus].amount}} successful</h2>
  <div class="text-center" style="margin: 30px">
    <div class="btn btn-lg btn-success" (click)="vuFlag=1"> Add More Cash <i class="fa fa-angle-double-right"></i> </div>
  </div>
  <img src="/assets/img/add.png" class="img-responsive">
</div>
